.hamburger-container {
    margin: 5px;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
}

.hamburger-bar {
    width: 40px;
    height: 5px;
    background-color: #58315A;
    border-radius: 5px;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #95d0b9ff;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-right: 10px;
    position: relative;
    z-index: 49; /* Keep the menu behind the hamburger */
}

.dropdown-content {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #58315A;
}

